html, body {
  background-color: gray;
  margin: 0;
}

canvas {
 padding-left: 0;
 padding-right: 0;
 display: block;
 background-color: silver;
}

@media (orientation: landscape) {
    body { background-color: black; }
 }