html, body {
  background-color: silver;
  margin: 0;
}

canvas {
 padding-left: 0;
 padding-right: 0;
 background-color: silver;
 display:block;
}

#start {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pressText {
  position: fixed;
  top: 40%;
  left : 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
